<div class="container-fluid bg-img">
<nav class="navbar navbar-expand-md mb-4 mt-2 p-4">
  <div class="container-fluid">
    <!--<a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>-->
    <div class="collapse navbar-collapse d-flex" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <h3 class="heading">Gayatri Rice & General Store</h3>
      </ul>
      <ul class="navbar-nav mb-2 mb-md-0 float-right">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/Home">Home</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" aria-current="page" routerLink="/CustomerDetails">Customer List</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" aria-current="page" routerLink="/Registration">Customer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/Login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/Registration">Registration</a>
        </li>
      </ul>
      <!--<form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>-->
    </div>
  </div>
</nav>
<div class="sub-class">
  <app-rxjsmerge></app-rxjsmerge>
</div>

<div class="">
  <router-outlet></router-outlet>
</div>

</div>
